<div id="demandeConge" style="display:flex; width:100%">
  <div style=" width:20%;position:fixed; top: 0px;background-color: #05182b;height: 100%">
    <app-menu></app-menu>
  </div>
  <div style=" width:100%; padding-left: 20%">
    <app-horizontal-menu></app-horizontal-menu>
    <div class="panel" style="margin: 3%;border:solid; border-color: #00004d;border-radius: 16px;">
      <header class="panel-heading">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="example example-buttons">

            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
        <h3 class="panel-title" style="padding-top:4%;padding-left: 4%;padding-bottom: 4% "> <i class="fa fa-list" style="padding-top: 2px;padding-right: 5px;"></i>Target list: </h3>
      </header>
      <div class="panel-body">
        <div class="margin-bottom-15">
        </div>
        <app-list-targets></app-list-targets>
      </div>
    </div>
  </div>

</div>
