<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="nav" >
  <div class="menu_dropdown" style="background-image: url('../../assets/images/auraxB.jpeg');">
    <img class="brand-img" src="../../assets/images/auraxB.jpeg" alt="aurax" style="width: 100%;">
    <i class="fas fa-caret-down"></i>
  </div>
  <div class="list" style="background-color: #05182b !important;">
    <div>
      <ul class="list-group list-group-flush" style="background-color: #05182b !important;">
        <li class="list-group-item list-group-item-dark" style="border: 0px solid rgba(0, 0, 0, 0.125) !important; background-color: #05182b">
          <i class="fas fa-home"></i>
          <a [routerLink]="['/','acceuil']" class="links" title="Home">Home</a>
        </li>


        <li class="list-group-item list-group-item-dark" style="border: 0px solid rgba(0, 0, 0, 0.125) !important; background-color: #05182b">
          <i class="fas fa-laptop"></i>
          <a  class="links"  title="Targets">Targets</a>
        </li>
        <li class="nav-item px-3" style="background-color: #05182b !important;margin-left: 30px;">
          <i class="fas fa-plus"></i>
          <a class="nav-link smallLinks" [routerLink]="['/','new_target']" style="display: inline-block;background-color: #05182b !important;padding-right: 47px;" title="Add new target">Add new target</a>

        </li>
        <li class="nav-item px-3" style="background-color: #05182b !important; margin-left: 30px;">
          <i class="fas fa-server"></i>
          <a class="nav-link smallLinks" [routerLink]="['/','target_list']" style="display: inline-block;background-color: #05182b !important; padding-right: 30px;" title="Target list">Target list</a>

        </li>

        <li class="list-group-item list-group-item-dark" style="border: 0px solid rgba(0, 0, 0, 0.125) !important; background-color: #05182b">
          <i class="fas fa-list"></i>
          <a [routerLink]="['/','acceuil']" class="links" title="Reports">Reports</a>

        </li>

      </ul>
    </div>
  </div>
</div>
</body>
</html>
