<div id="demandeConge" style="display:flex; width:100%;">
  <div style=" width:20%;position:fixed; top: 0px;background-color: #05182b;height: 100%">
    <app-menu></app-menu>
  </div>
  <div style=" width:100%; padding-left: 20%">
    <app-horizontal-menu style="position: fixed; width: 80%"></app-horizontal-menu>
    <div style="display: flex">
      <div class="panel" style="margin: 3%; padding-top:5%; width:70%;">
        <header class="panel-heading">
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="example example-buttons">

              </div>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </header>
        <div class="panel-body">
          <div class="margin-bottom-15">
          </div>

            <app-chart1>Loading...</app-chart1>

            <app-chart2></app-chart2>

        </div>
      </div>
      <div style="width: 100%; padding-top: 8%; position:fixed;padding-left: 59%;">

      </div>
    </div>

  </div>

</div>
