.content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  height:70px;
}
.icon {
  padding: 20px;
}
.etudiant {
  display: flex;
}
.nav {
  padding-top: 10px;
}
.nav-link {
  color: #52606a;
}
body{
  background-color: #05182b;
}
