<!DOCTYPE html>
<html>
<head>



  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body style="width: 100%;">
<div class="content">
  <div class="etudiant">

    <ul class="nav navbar-toolbar navbar-center navbar-toolbar-center">
      <li class="nav-item dropdown">
        <a class="nav-link" style="color: white" href="#">Espace employé: <b>
          admin admin</b></a></li>
      <li class="nav-item dropdown">
        <a class="nav-link" style="width: 100%;margin-left: 160%; color:white">Date: <b>{{ currentDate | date: 'short'}}</b></a></li>
    </ul>
  </div>
  <div style="margin-left: 38%;">
    <!--<i class="fas fa-bell icon"></i>
    <i class="fas fa-envelope icon"></i>
    <i class="fas fa-user-alt icon"></i> -->
  </div>
  <div style="width: 45px">
    <a>
      <img src="../../assets/images/user.png" style="width: 100%; cursor: move; border-radius: 30px;" title="Déconnecter" (click)="deconnecter()">
      <!--<img [src]=" sanitizer.bypassSecurityTrustResourceUrl(illustrationUrl )" style="width: 100%; cursor: move; border-radius: 30px;" title="Déconnecter" (click)="deconnecter()"> -->
    </a>
  </div>

</div>
</body>
</html>
